<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Windy City Herald</title>
  </head>
  <body>
    <%- include('../components/header') %>
    <main>
      <hr />
      <section class="articles">
        <% articles.forEach((article) => { %> <%-
        include('../components/articleLink', {article: article}) %> <% }) %>
      </section>
      <% if (articles.length === 0) { %>
      <div>
        <br />
        <p>No articles in this category :'c</p>
      </div>
      <% } %>
      <p style="text-align: center">
        No more articles :/<br /><a href="#top">Scroll to Top</a>
      </p>
    </main>
  </body>
</html>
