<!--
<section class="topbar">
  <p>56°F | Partly Cloudy</p>
  <p><a href="/search">Search</a></p>
</section>
-->
<section class="title">
  <h1><a href='/'>Windy City Herald</a></h1>
</section>
<section class="sections">
  <p><a href="/categories/business">Business</a></p>
  <p><a href="/categories/entertainment">Entertainment</a></p>
  <p><a href="/categories/politics">Politics</a></p>
  <p><a href="/categories/sports">Sports</a></p>
  <p><a href="/categories/opinion">Opinion</a></p>
  <p><a href="/categories/suburbs">Suburbs</a></p>
  <p><a href="/categories/weather">Weather</a></p>
  <p><a href="/categories/updates">Updates</a></p>
</section>